<h1> Update Your Author</h1> 

<%= form_for @author, url:{action: 'update'} do |author|%> 
<%= author.text_field :first_name %>
<%= author.text_field :last_name %>
<%= author.text_field :location %> 
<%= author.submit 'Save'%> 
<% end %>
