
<p> <%= link_to "Back", author_books_path(@author)%> </p>
<h2> 
<%= @book.title%> 
<%= @book.print_date%> 
<%= @book.original_language%> 
</h2> 

<p> 
<p> <%= link_to 'View Books', author_books_path(@author) %> </p>
<%= link_to "Edit", edit_author_book_path(@author, @book) %>
<%= link_to "Destroy this book!", author_book_path(@author, @book), method: :delete %>
</p>